@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html {
    background-color:#DBDBDB;
    overflow-y: scroll;
}
body {
    margin: 0;
    font-family: sans-serif;
}

#header {
    display: inline-block;
    height: 70px;
    width: 100%;
    /*background-color: aqua;*/
    background-color:darkviolet;
    line-height: 70px;
    position: fixed;

    white-space: nowrap;
    overflow: hidden;
}
#hright {
    display: inline-block;
    margin-left: 20px;
    float: right;
    margin-right: 10%;
    white-space: nowrap;
}
#hleft {
    display: inline-block;
    margin-left: 10%;
}
.hlink {
    margin-left: 20px;
    color: white;
    white-space: nowrap;
    font-family: 'Oswald', sans-serif;
}
#hlogo {
    color: white;
    white-space: nowrap;
    font-family: 'Oswald', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
#bodypanel {
    text-align: center;
    /*margin-top: 70px;*/
    padding-top: 70px;
}
.postcontainer {
    background-color: whitesmoke;
    padding: 30px;
    min-height: 100px;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 15px;
    text-align: left;
}
.posttitle a{
    font-weight: 500;
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    color:darkslategrey;
}
.postauthor a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: cornflowerblue;
}
.postcontent a{
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
}
.postcontent {
    padding-top: 10px;
}
#footer{
    text-align: center;
}
#viewmore{
    text-align: center;
    margin-bottom: 5%;
    color: white;
    display: inline-block;
}
#viewmore:hover{
    cursor: pointer;
}
.usercontainer {
    background-color: whitesmoke;
    padding: 30px;
    min-height: 100px;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 15px;
    text-align: left;
}

#usermaindiv {
    background-color: #621d87;
    
    
    min-height: 200px;
    display:table;
    width:100%;

}

#usermainname {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    color: white;
    text-align: center;
    font-weight: 700;
    line-height: 40px;
    padding-top: 80px;
    height:100%;
    vertical-align:middle;
    text-align:center;
}

#userusername {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: cornflowerblue;
    margin-top: 0px;
}

#userinformation {

    text-align: center;

    width: 40%;
    max-width: 250px;
    height:100%;
    vertical-align:middle;
    text-align:center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 35px;

    /*background-color: red;*/
}

.userdata {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: left;

    height:100%;
    vertical-align:middle;
    white-space: nowrap;
  overflow: hidden;
}

.userdata i {
    color: lightgray;
}

.userdata span {
    margin-left: 20px;
    color: lightgray;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.heading {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    color: white;
    margin-bottom: 10px;
    margin-top: 30px;
}

#usercontentnav, #photocontentnav {
    background-color: #431A59;
    margin: 0 auto;
    line-height: 50px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#usercontentnav ul, #photocontentnav ul {
    margin: 0 auto;
    display: inline;
    list-style-type: none;
    padding: 0;
}

#usercontentnav li, #photocontentnav li{
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    display: inline;
    list-style-type: none;
}

#usercontentnav a, #photocontentnav a {
    color: #E1E1E1;
}

#usercontentnav a:visited, #photocontentnav a:visited {
    color: #E1E1E1;
}

#usercontentnav .selected a , #photocontentnav .selected a {
    color: cornflowerblue;
}

#usercontentnav li a:hover, #photocontentnav li a:hover {
    border-bottom: solid cornflowerblue;
}

.selected li {
    color: cornflowerblue;
}

#usercontentnav li a, #photocontentnav li a  {
    padding: 14px;
    padding-left: 20px;
    padding-right: 20px;
}



#usercontentnav li:hover, #photocontentnav li:hover{
    
    cursor: pointer;
}
.aboutheader {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    font-weight: 100;
    color:darkslategrey;
    padding-top: 20px;
    padding-bottom: 0px;
}

.aboutcontent {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;

    text-align: center;

    width: 40%;
    max-width: 400px;
    height:100%;
    vertical-align:middle;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

hr {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aboutcontent h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-weight: 400;
    margin: 0;
}
h4 {
    font-weight: 200;
    margin: 0;
    font-size: 0.8em;
    color: cornflowerblue;
}
h5 {
    margin: 0;
    font-weight: 100;
    color: gray;
}

